.page-title {
  display: block !important;
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
}

.form-container {
  margin: auto;
  width: 500px;
}
.ui.red.button:focus, .ui.red.buttons .button:focus {
  background-color: #db2828;
}
